:root {
    --warna-utama: #3aff0e;
    --warna-abu: #646464;
    --ukuran-font: 16px;
    --font-kecil: 10px;
  }
footer {
  display: flex;
  background-color: white;
  width: 100%;
  height: 150px;
  justify-content: center;
  text-align: center;
  font-size: var(--font-kecil);
  border-radius: 10px;
  box-shadow: 2px 2px 20px var(--warna-abu);
}
h4 {
  color: black;
  margin-top: 30px;
}
a {
  color: var(--warna-utama);
  cursor: pointer;
  margin-top: 30px;
}