:root {
    --warna-utama: #3aff0e;
    --warna-abu: #646464;
    --ukuran-font: 16px;
    --font-kecil: 10px;
  }
nav {
      position: fixed;
      color: var(--warna-utama);
      display: flex;
      background-color: var(--warna-abu);
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      font-size: var(--ukuran-font);
      text-align: start;
    }
    .navbar {
      margin-left: 10px;
      text-align: center;
      align-items: center;
    }
    .navbar, a {
      text-decoration: none;
      color: var(--warna-utama);
      font-size: var(--font-kecil);
      margin-left: 5px;
      margin-right: 5px;
    }